# Copy this file to terraform.tfvars and fill in your values
project_id                 = "your-gcp-project-id"
region                     = "asia-south2"
zones                      = ["asia-south2-a", "asia-south2-b", "asia-south2-c"]
cluster_name               = "k8s-hardened"
network_cidr               = "10.10.0.0/24"
api_lb_ip                  = "10.10.0.100"
control_plane_machine_type = "e2-standard-2"
worker_machine_type        = "e2-medium"

# Security Features
enable_kms                 = true
enable_secret_manager      = true
